<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu">
            {{#each data.menu}}
                <li class="open" data-id="{{name}}">
                    <a href="javascript:;">
                        <i class="{{icon}}"></i>
                        <span class="title">{{title}}</span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        {{#each items}}
                            <li data-id="{{name}}">
                                <a href="{{url}}">{{title}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}

        </ul>

        <div class="page-sidebar-spanner">
            <i class="fa"></i>
        </div>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
